.app {
    padding: 2em;
    min-height: 100vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #fff5;
}

.phrase-card {
    background-image: url('/images/rectangle1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    height: 150%;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    margin: 3em 0;
}

@media screen and (min-width: 768px) {
    .phrase-card {
        text-align: center;
        width: 700px;
        margin: 4em auto;
    }
    .phrase-p {
        font-size: 1.2em;
    }
}

.phrase-p {
    margin: 0 auto;
    padding: 1em;
    font-weight: 700;
}

.phrase-btn button {
    border-radius: .4em;
    opacity: .8;
    padding: .6em 1em;
    font-size: 1.2rem;    
}

.phrase-author {
    align-self: end;
    justify-self: center;
}

.author-p {
    padding: .6rem .9em;
    border-radius: .3em;
    background-color: white;
    opacity: .8;
    width: max-content;
}